/* Estilos básicos */
body {
       
        position: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('fundo.jpg');
        background-size: auto; 
        background-position: auto; 
        background-repeat: no-repeat; 
    
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    padding: 20px;
}

/* Container de tabs */
.tabs-container {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 50px;
    opacity: 0.8;
    
    
}

/* Estilo das abas */
.tabs {
    list-style: none;
    padding: 0;
    display: flex;
    border-bottom: 2px solid #ddd;
    border-radius: 50px;
    
}

.tabs .tab-link {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #f4f4f4;
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom: none;
    transition: background-color 0.3s ease;
    border-radius: 50px;
    background-color: none;
}

.tabs .tab-link:hover {
    background-color: none;

    
}

.tabs .tab-link.active {
    background-color: white;
    font-weight: bold;
    border-bottom: 2px solid white;
    border-radius: 50px;
    
}

/* Conteúdo das tabs */
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: white;
    transition: opacity 0.3s ease;
    border-radius: 50px;
    
}

.tab-content.active {
    display: block;
    opacity: 1;
    border-radius: 50px;
    
}

/* Transição de opacidade */
.tab-content {
    opacity: 0;
    border-radius: 50px;
    
}
